$primary: #71c1a1;
$secondary: #9f9fff;
$white: #ffffff;

$border: #e0e0e0;
$border-hover: hsl(0, 0%, 70%);

$background: #ffffff;
$layer-01: #f4f4f4;

:export {
  primary: $primary;
  secondary: $secondary;
  border-hover: $border-hover;
  layer-01: $layer-01;
}
