@use "assets/scss/colors" as *;

.nav {
  padding: 1rem;
  align-self: stretch;
}

.space {
  margin-top: 1rem;
}

.icon {
  width: 22px;
  height: 22px;
  color: $primary;
}

.separator {
  width: 1px;
  height: 100%;
  background: $border;
}

.filters {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;

  .search {
    flex: 1;
  }

  .type {
    min-width: 280px;
  }

  .actions {
    display: flex;
    align-items: center;
  }
}
