@use "assets/scss/colors" as *;

.container {
  max-width: 300px;
  cursor: pointer;
}

.media {
  max-width: 100%;
  aspect-ratio: 1;
  height: auto;
  flex: 1;
  padding: 1rem;
  object-fit: contain;
  transition: transform 0.3s ease-in-out;

  &:hover {
    transform: scale(1.05);
  }
}

.description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background: $layer-01;

  h2 {
    font-size: 1rem;
  }
}
