@use "assets/scss/colors" as *;

.media {
  flex: 1;
  height: 100%;
}

.description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background: $layer-01;

  h2 {
    font-size: 1rem;
  }
}
