@use "assets/scss/colors" as *;

.container {
  width: 100%;
  max-width: 800px;
}

.media-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 300px;

  .image {
    aspect-ratio: 1;
    width: 100%;
    max-width: 300px;
    height: auto;
    flex: 1;
    padding: 1rem;
    object-fit: contain;
  }

  .sound {
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    padding: 0;

    svg {
      width: 28px;
      height: 28px;
      color: $primary;
    }
  }
}

@mixin bar {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  gap: 1rem;
  font-weight: bold;
  padding-inline: 1rem;
  margin-bottom: 8px;

  div {
    flex: 1;
    height: 10px;
    border-radius: 8px;
  }

  p {
    width: 100px;
  }
}

@mixin size-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 1rem;
  padding: 1.2rem;

  p:first-child {
    font-weight: bold;
    font-size: 1.2rem;
    margin-bottom: 6px;
  }
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr auto auto 1fr;
  grid-template-areas:
    "description heart"
    "cp cp"
    "hp hp"
    "left right";

  background: $layer-01;

  &__description {
    grid-area: description;
    padding: 1rem;

    h2 {
      font-size: 2rem;
    }

    p {
      font-size: 1.2rem;
    }
  }

  &__heart {
    grid-area: heart;
    margin-left: auto;
    padding: 1rem;

    svg {
      width: 36px;
      height: 36px;
    }
  }

  &__cp {
    grid-area: cp;
    @include bar;

    div {
      background: violet;
    }
  }

  &__hp {
    grid-area: hp;
    @include bar;

    div {
      background: $primary;
    }
  }

  &__left {
    grid-area: left;
    border-top: 1px solid $border;
    @include size-container;
  }

  &__right {
    grid-area: right;
    border-top: 1px solid $border;
    border-left: 1px solid $border;
    @include size-container;
  }
}
